{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', path='/js/index.js') }}"></script>
{% endblock %}


{% block body %}
<div class="container py-5">

  <!-- For demo purpose -->
  <header class="text-white text-center">
      <h1 class="display-4">🍯 Honeybee Health AI 🐝 </h1>
      <p class="lead mb-0">Input an image of your beehive to begin! </p>
  </header>


  <div class="row py-4">
      <div class="col-lg-6 mx-auto">

          <!-- Upload image input-->
          <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <form method="post" action="{{ url_for('make_prediction') }}">
              <input id="upload" type="file" class="form-control border-0">
              <!-- <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0"> -->
              <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose image file</label>
              <div class="input-group-append">
                  <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
              </div>
            </form>
          </div>

          <!-- Uploaded image area-->
          <!-- <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div> -->

      </div>
  </div>
</div>
{% endblock %}